# Web scraping
requests==2.26.0
beautifulsoup4==4.9.3
selenium==4.1.0
webdriver_manager==3.5.2

# Queue
redis==5.0.1

# Web Framework
flask==2.0.1
werkzeug==2.0.3

# Utilities
python-dotenv==1.0.1
loguru==0.7.2

# Testing
pytest==7.4.3
pytest-cov==4.1.0
pytest-mock==3.12.0  # For better mocking in tests